
*{
    font-family: serif;
    
}



button{
    padding: 25px;
    margin: 5px;
    background-color: rgb(150, 58, 58);
    color:rgb(0, 0, 0) ;
    font-size: 12px;
    position:center;
    margin-top: 10px;
    left: 28%;
    border-radius: 170px;
}


.contenedor{
width: 900px;
height: 1000px;
background-color: rgb(247, 195, 127);
margin: 0 auto;
padding: 50px;

}
.ventana{
    height: 80%;
    background-color: rgb(241, 164, 150);
    border-radius: 18px;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
}


#btnLlenar{
    padding: 25px;
    margin: 0 auto;
    background-color: rgb(218, 78, 120);
    color:white ;
    font-size: 16px;
    position:relative;
    margin-top: 15px;
    left: 35%;
    border-radius: 15px;
}

#numeros{
    position: relative;
    margin-top: 0%;
    left: 1%;
    padding-right: 150px;
    background-color: antiquewhite;
}


.botones{
    padding: 25px;
    margin: 0 auto;
    background-color: rgb(218, 78, 120);
    color:white ;
    font-size: 16px;
    position:relative;
    margin-top: 15px;
    left: 0%;
    border-radius: 15px;
}